.app{
  min-height: 100vh;
  padding: 10vh 10vw;
  color: #000;
}
.header-top{
  margin-bottom: 5vh;
  display: flex;
  gap: 0vh 0.5vw;
}
.header-text{
  color: inherit;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  margin-right: 0.1vw;
}
.header-text-selected{
  color: brown;
}
.theme-icon{
  display: block;
  margin-left: auto;
}
.header-popular{
  text-align: center;
  margin-bottom: 3vh;
}
.container-popular{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  gap: 3vh 0.5vw;
}
.fetching-data{
  font-size: 35px;
  text-align: center;
}
.card-popular{
  background-color: rgb(233, 232, 232);
  padding: 6vh 2vw 4vh 2vw;
  width: 230px; 
}
.container-popular-top, .card-battle-top{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3vh 0vw;
}
.rank{
  font-weight: normal;
  font-size: 35px;
  margin: 0px;
}
.username-image{
  height: 150px;
  width: 150px;
}
.repo-url{
  color: brown;
  font-size: 23px;
  font-weight: bold;
  text-decoration: none;
}
.card-popular-info{
  margin-top: 3vh;
}
.card-info-row{
  display: flex;
  text-align: center;
  gap: 0vh 1vw;
  margin: 1.5vh 0vw;
}
.card-info{
  display: block;
  font-size: 20px;
}
.username{
  display: block;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}
.battle{
  text-align: center;
}
.battle-intro{
  margin: 15vh 0vw;
}
.battle-title{
  font-size: 35px;
  font-weight: normal;
}
.battle-intro-text{
  display: flex;
  justify-content: space-evenly;
}
.icon-header{
  font-size: 28px;
  font-weight: normal;
  margin-top: 0vh;
}
.players-container{
  margin: 6vh 0vw;
  display: flex;
  justify-content: space-evenly;
}
.player-heading{
  font-size: 20px;
  font-weight: normal;
  margin: 1vh 0vw;
  text-align: left;
}
.input-username{
  font-size: 16px;
  padding: 1vh 0.5vw;
  width: 20vw;
}
.link{
  text-decoration: none;
}
.submit-btn{
  cursor: pointer;
  margin: 0vh 0.5vw;
  font-size: 16px;
  padding: 1.3vh 3vw;
  background-color: black;
  color: white;
  border: none;
}
.submit-btn-disable{
  background-color: rgba(133, 133, 133, 0.3);
  color: rgba(0, 0, 0, 0.299);
}
.player-card{
  width: 30.8vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(133, 133, 133, 0.3);
  padding: 1.2vh 0.5vw;
}
.user-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0vh 0.7vw;
}
.user-icon{
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
.card-username{
  font-size: 20px;
  color: brown;
  text-decoration: none;
  font-weight: bold;
}
.battle-player-container{
  margin: 6vh 0vw;
  display: flex;
  justify-content: space-evenly;
}
.battle-player-card{
  background-color: rgb(233, 232, 232);
  padding: 6vh 2vw;
  width: 230px; 
}
.score{
  font-weight: bold;
}
.repo-url-battle{
  display: block;
  color: brown;
  font-size: 23px;
  font-weight: bold;
  text-decoration: none;
  margin: 4vh 0vw;
}

.app-dark{
  background-color: #1c2022;
  color: #DADADA;
}
.card-dark, .player-dark{
  background-color: rgb(36, 40, 42);
}
.input-dark{
  background-color: rgba(0,0,0,0.3);
  border-color: rgba(0,0,0,0.3);
  color: #DADADA;;
}
.btn-dark{
  background-color: #aaa8a8;
  color: #000;
}